.login-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.middle {
    text-align: center;
    align-items: stretch;
}

#loginbutton {
    display: flex;
    flex-direction: column;

    gap: 5px;
    align-items: flex-start;
}